@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app {
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) , url('https://source.unsplash.com/random/1920x1080');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background-color: whitesmoke;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    padding: 2%;
    box-shadow: 0px 20px 30px 20px rgb(109, 209, 51);
}

.heading {
    display: flex;
    align-items: center;
    font-family: 'Cinzel', serif;
    height: 120px;
    font-size: medium;
}

.button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    /* background-color: rgb(221, 57, 57); */
    padding: 10px;
    border: 2px solid transparent;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b,#03a9f4);
    background-size: 400%;
}

.button:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.button span {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }

  @media only screen and (max-width: 600px) {
    .card {
        width: 80%;
        height: 30%;
    }
}